{% macro tree(items, currentPage) %}
    {% for item in items %}
        {% if item.children is not empty %}
            {{ _self.dropdown(item, currentPage, isChildActive(item.children, currentPage) or currentPage.getSlug() == item.getSlug()) }}
        {% else %}
            {{ _self.link(item.getTitle(), item.getRoute(), currentPage.getSlug() == item.getSlug()) }}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro link(label, href = '#', active = false) %}
    <li class="{{ active ? 'uk-active' : '' }}">
        <a href="{{ href }}">{{ label }}</a>
    </li>
{% endmacro %}

<!-- TODO : Fix style to match old learn -->
{% macro dropdown(item, currentPage, open = false) %}
    <li class="uk-parent {{ open ? 'uk-open' : '' }} {{ currentPage.getSlug() == item.getSlug() ? 'uk-active' : '' }}">
        <a href="{{ item.getRoute() }}">
            {{ item.getTitle() }}
        </a>
        <ul class="uk-nav-sub">
            {{ _self.tree(item.children, currentPage) }}
        </ul>
    </li>
{% endmacro %}

{% macro label(label) %}
    <li class="uk-nav-header">{{ label }}</li>
{% endmacro %}
