<div class="navbar-fixed"  id="nav-main">
    <nav class="custom">
        <div class="nav-wrapper">
            <a href="https://www.userfrosting.com/" class="brand-logo" style="padding-left: 2rem; text-transform: uppercase">UserFrosting</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="https://www.userfrosting.com/features">Features</a></li>
                <li><a href="https://demo.userfrosting.com/" target="_blank">Demo</a></li>
                <li>
                    <a class="dropdown-button" href="#!" data-activates="dropdown1">
                        Get Started
                    </a>
                    <ul id="dropdown1" class="dropdown-content">
                        <li><a href="https://learn.userfrosting.com/">Install</a></li>
                        <li><a href="https://learn.userfrosting.com/">Docs</a></li>
                        <li><a href="https://learn.userfrosting.com/recipes">Recipes</a></li>
                    </ul>
                </li>
                <li><a href="https://forums.userfrosting.com" target="_blank">Forums</a></li>
                <li><a href="https://chat.userfrosting.com" target="_blank">Chat</a></li>
                <span id="nav-social">
                    <li class="fa-stack"><a href="https://github.com/userfrosting/UserFrosting" target="_blank"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-github fa-stack-1x"></i></a></li>
                    <li class="fa-stack"><a href="https://twitter.com/userfrosting" target="_blank"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x"></i></a></li>
                </span>
                <li><a class="btn" href="https://www.userfrosting.com/donate">Donate</a></li>
                <li>
                    <a class="dropdown-button dropdown-button-version" href="#!" data-activates="dropdown2">
                        {{ config.environment }} <i class="fa fa-caret-down"></i>
                    </a>
                    <ul id="dropdown2" class="dropdown-content">
                        {% for label, path in config.versions.branches %}
                            <li><a href="{{ uri.base }}{{ path }}{{ uri.path }}">{{ label }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>
